/* Base for label styling */


#page-2 [type="checkbox"]:not(:checked),
#page-2 [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
#page-2 [type="checkbox"]:not(:checked) + label,
#page-2 [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height:1;
  font-weight:normal;
}

/* checkbox aspect */
#page-2 [type="checkbox"]:not(:checked) + label:before,
#page-2 [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0px;
  width: 17px; height: 17px;
  outline:none;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
}
/* checked mark aspect */
#page-2 [type="checkbox"]:not(:checked) + label:after,
#page-2 [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 2px; left: 3px;
  font-size: 14px;
  color: #1f716d;
  transition: all .2s;
}
/* checked mark aspect changes */
#page-2 [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
#page-2 [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
#page-2 [type="checkbox"]:disabled:not(:checked) + label:before,
#page-2 [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
#page-2 [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
#page-2 [type="checkbox"]:disabled + label {
  color: #aaa;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}
