@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/helvetica-neue.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/helvetica-neue-bold.ttf');
  font-weight: bold;
  font-style: normal;
}
body,html{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color:#ecf0f1;
  width:100%;
  height:100%;
  overflow:hidden;
}
header{
	background-color:#2b4159;
	box-shadow:0px 3px 3px #b5b5b5;
  padding:15px;
}
header h3{
	margin: 0;
	color:#fff;
}
header a{
  color:#fff;
}
.button{
  border:none;
  outline:none;
  position:relative;
  border-radius:3px;
  color:#fff;
  font-size:14px;
  padding:1em .5em;
  line-height:1;
  box-shadow:2px 2px 3px #b5b5b5;
}
.button-primary{
  border:none;
  color:#fff;
  position:relative;
  margin:0 5px 0 0;
  border-radius:6px;
  background-color:#1f70a5;
}
.button:hover{
	box-shadow:none;
}
.button:active,.button:focus{
	top:2px;
}
form {
	text-align:left;
}
form button[type=submit]{
	width:100%;
}
form input{
	width:100%;
	line-height:1;
	padding:1em .5em;
	margin-bottom:1em;
}
form label{
	font-weight:normal;
}
.switch,.geolocation-switch,.geolocation-switch p{
	display:inline-block;
	vertical-align:middle;
}
.geolocation-switch{
	float:right;
	margin-bottom:1em;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 27px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 31px;
}
.centered {
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:100%;
  text-align:left;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  max-width:450px;
}
.logo{
  text-align:center;
}
.logo img{
  max-width:100%;
}
.intro h3{
	margin-bottom:1em;
}

#page-2{
  display:none;
}
.map{
  position:absolute;
  left:0;
  right:0;
  top:57px;
  bottom:0;
}

.actions{
  position:absolute;
  z-index:999;
  background-color:#fff;
  padding:1em;
  right:.5em;
  min-width:200px;
}
